*

!.gitignore

!dev/
dev/*
!dev/package.json
!dev/webpack.config.js
!dev/gulpfile.js
!dev/src/
dev/src/*
!dev/src/*
!dev/src/**/*

!wp-content/
wp-content/*
!wp-content/plugins/
wp-content/plugins/*
!wp-content/plugins/wp-page-monitor/
wp-content/plugins/wp-page-monitor/*
!wp-content/plugins/wp-page-monitor/**/
wp-content/plugins/wp-page-monitor/**/*
!wp-content/plugins/wp-page-monitor/**/*

*.zip
*.mp4